{{!-- 
======================================================
Assignment 2 - Responsive, Handlebars, Forms Processing and Email
Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca
Date:			  2020-10-28
====================================================== 
--}}
<!-- ========== Footer START ========== -->
<footer class="container ">
    <hr />
    <div class="p-0 d-flex justify-content-between">
        <div class="p-3">
            <strong>English (CA)</strong> <strong>$ CAD</strong>
        </div>
        <div class="p-3">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x text-info"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x text-info"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x text-info"></i></a>
        </div>
        <div class="p-3"> © 2020 David Ly </div>
    </div>
</footer>
<!-- ========== Footer END ========== -->
