{{!-- 
======================================================
Assignment 2 - Responsive, Handlebars, Forms Processing and Email
Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca
Date:			  2020-10-28
====================================================== 
--}}
<!-- ========== The Sign-IN Modal START ========== -->
<div class="modal" id="signInModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <!-- Modal Header -->
      <div class="modal-header border-0">
        <h4 class="modal-title ">Sign-In to your account:</h4>
        <button type="button" class="close" data-dismiss="modal"> &times; </button>
      </div>
      <!-- Modal body -->
      <!-- ////////// FORM START //////////////////// -->
      <!-- ////////// TEST: action="https://httpbin.org/post" -->
      <form class="needs-validation " id="signInForm" action="sign-in-process" method="POST">
        <div class="modal-body ">
          <div class="form-group">
            <input type="email" class="form-control" id="si-email" placeholder="Email address" name="email" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter your complete email.</div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="si-password" placeholder="Enter password" name="password" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter your password.</div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer border-0">
          <button type="submit" class="btn btn-success">Sign-In</button>
        </div>
      </form>
      <!-- ////////// FORM END ////////// -->
      <script>

        let signInForm = document.querySelector('#signInForm');

        signInForm.onsubmit = function ()
        {
          let status = true;

          clearMessagesOfInputIds(
            '#si-email',
            '#si-password'
          );

          let email = document.querySelector('#si-email');
          let password = document.querySelector('#si-password');

          // check EMAIL
          if (email.value === "")
          {
            email.classList.add('is-invalid');
            status = false;
          }
          else
            email.classList.add('is-valid');

          // check PASSWORD
          if (password.value === "")
          {
            password.classList.add('is-invalid');
            status = false;
          }
          else
            password.classList.add('is-valid');

          return status;
        };

        // function to clear status messages
        function clearMessagesOfInputIds(...theArgs)
        {
          theArgs.forEach(element =>
          {
            document.querySelector(element).classList.remove('is-invalid');
            document.querySelector(element).classList.remove('is-valid');
          });
        }

      </script>
    </div>
  </div>
</div>
<!-- ========== The Sign-IN Modal END ========== -->
