<!-- 
------------------------------------------------------
Assignment 1 - User Interface (UX)

Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca
Date:			  2020-10-11
------------------------------------------------------ 
-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>EarthBnB</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
      integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ=="
      crossorigin="anonymous"></script>
    <!-- My CSS -->
    <link rel="stylesheet" href="general.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color:#121f1f;">
      <a class="navbar-brand" href="/">
        <img class="img-fluid p-0" src="images/EarthBnB_logo.png" alt="Responsive image" width="70" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"></div>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link font-weight-bold" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="search-listings">Explore All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="upload-bnb">Host Yours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" data-toggle="modal" data-target="#signUpModal">Sign-Up</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-info my-2 my-sm-0 font-weight-bold" type="button" data-toggle="modal"
            data-target="#signInModal"> Sign-In </button>
        </form>
      </div>
    </nav>
    <!-- ========== NAV BAR END ========== -->
    <!-- ========== The Sign-UP Modal ========== -->
    <div class="modal" id="signUpModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light">
          <!-- Modal Header -->
          <div class="modal-header border-0">
            <h4 class="modal-title">Sign-Up for an account:</h4>
            <button type="button" class="close" data-dismiss="modal"> &times; </button>
          </div>
          <!-- Modal body -->
          <form class="needs-validation" action="" method="POST">
            <div class="modal-body">
              <div class="form-group d-flex justify-content-center"> You are registering as: </div>
              <div class="form-group d-flex justify-content-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-info active">
                    <input type="radio" name="options" id="su-renter" checked /> Renter </label>
                  <label class="btn btn-outline-info">
                    <input type="radio" name="options" id="su-owner" /> Owner </label>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="su-email" placeholder="Email address" name="su-email"
                  required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please enter your email.</div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="su-fName" placeholder="First name" name="su-fName"
                  required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback"> Please enter your first name. </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="su-lName" placeholder="Last name" name="su-lName"
                  required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please enter your last name.</div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="su-password" placeholder="Enter password"
                  name="su-password" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please enter a password.</div>
              </div>
              <div class="form-group">
                <label class="h6" for="su-birthday">Birthday</label>
                <p>
                  <small>You must be 18+ to sign-up. Your birthday won't be seen by other users.</small>
                </p>
                <input type="date" class="form-control" id="su-birthday" name="su-birthday" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please select your birthday.</div>
                <p>
                  <small>You'll receive our promotions and policy updates via email.</small>
                </p>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer border-0">
              <button type="submit" class="btn btn-success">Sign-Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- ========== The Sign-IN Modal ========== -->
    <div class="modal" id="signInModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light">
          <!-- Modal Header -->
          <div class="modal-header border-0">
            <h4 class="modal-title ">Sign-In to your account:</h4>
            <button type="button" class="close" data-dismiss="modal"> &times; </button>
          </div>
          <!-- Modal body -->
          <form class="needs-validation" action="" method="POST">
            <div class="modal-body ">
              <div class="form-group">
                <input type="email" class="form-control" id="si-email" placeholder="Email address" name="si-email"
                  required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="si-password" placeholder="Enter password"
                  name="si-password" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer border-0">
              <button type="submit" class="btn btn-success">Sign-In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- ========== The Sign-IN Modal - END ========== -->
    <main role="main">
      <!-- Main jumbotron  -->
      <div class="container pt-5 mt-3">
        <h3 class="display-5">Beautiful and bright suite with free parking</h3>
        <div class="row mb-3">
          <div class="col-auto mr-auto">
            <span class="font-weight-light" style="color: teal;">★</span> 4.96 <span class="font-weight-light"
              style="color: grey;">(210) · 🥇 Superhost · Toronto, Ontario, Canada</span>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-outline-info border-0  p-1 "> &nbsp;<span
                class="fas fa-share"></span>&nbsp;Share&nbsp; </button>
            <button type="button" class="btn btn-outline-danger border-0  p-1 " data-toggle="button"
              aria-pressed="false"> &nbsp;♡&nbsp;Save&nbsp; </button>
          </div>
        </div>
      </div>
      <!-- ========== GALLERY PICS ========== -->
      <div class="container ">
        <div class="row  justify-content-center ">
          <div class="col-md-6 ">
            <div class="row ">
              <div class="col p-1">
                <img class="mw-100 rounded" src="/images/ba533ed4_original.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="row row-cols-2">
              <div class="col p-1">
                <img class="mw-100 rounded" src="/images/da270b4b_original.webp" alt="" />
              </div>
              <div class="col p-1">
                <img class="mw-100 rounded" src="/images/4c946ba5_original.webp" alt="" />
              </div>
              <div class="col p-1">
                <img class="mw-100 rounded" src="/images/58ad833d_original.webp" alt="" />
              </div>
              <div class="col p-1">
                <img class="card mw-100 rounded" src="/images/6ce4df38_original.webp" alt="" />
                <div class="card-img-overlay p-2">
                  <button type="button" class="btn btn-outline-warning  float-right ">Show all photos</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ========== LISTING DETAILS ========== -->
      <!-- ========== LISTING DETAILS - HEADER ========== -->
      <div class="container pt-5">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-md-10">
                    <div class="row">
                      <h4 class="display-5">Entire guest suite hosted by Laura And Peter</h4>
                    </div>
                    <div class="row ">
                      <span class="font-weight-light"
                        title="For sectioned out BnB's - we'd add 'shared' to any room that is">2 guests · 1 bedroom · 1
                        bed · 1 bath</span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col p-1">
                        <img class="card mw-100 rounded" style="max-height: 66px;" src="images/original.webp" alt="" />
                        <div class="card-img-overlay p-3">
                          <span class=" float-right ">🥇</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row pt-4 pb-4">
                  <ul class="list-group">
                    <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Entire home</span><br>
                      You’ll have the guest suite to yourself.</li>
                    <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Enhanced
                        cleanliness</span><br> This host committed to our 5-step enhanced cleaning process</li>
                    <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Superhost
                        status</span><br> Superhosts are experienced, highly rated hosts who are committed to providing
                      great stays for guests.</li>
                    <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Cancellation
                        policy</span><br> Cancel before 3:00 PM on Oct. 15 and only get a refund of the cleaning fee.
                    </li>
                  </ul>
                </div>
                <div class="row pt-4 pb-4">
                  <ul class="list-group">
                    <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Description</span><br>
                      Our property is only 30 min from downtown Toronto. This is a Gorgeous One Bedroom Apartment for 1
                      or 2 adults, featured on this page.</li>
                  </ul>
                </div>
                <div class="row pt-4 pb-4">
                  <ul class="list-group">
                    <li class="list-group-item bg-transparent ">
                      <h4 class="display-5"> Sleeping arrangements</h4>
                    </li>
                    <li class="list-group-item bg-transparent "><span class="font-weight-bold"> Bedroom 1</span><br> 1
                      double bed</li>
                  </ul>
                </div>
                <div class="row pt-4 pb-4">
                  <ul class="list-group">
                    <li class="list-group-item bg-transparent ">
                      <h4 class="display-5"> Amenities</h4>
                    </li>
                    <li class="list-group-item bg-transparent "> Free parking on premises</li>
                    <li class="list-group-item bg-transparent "> Wifi</li>
                    <li class="list-group-item bg-transparent "> Kitchen</li>
                    <li class="list-group-item bg-transparent "> Pool</li>
                    <li class="list-group-item bg-transparent "> Laptop-friendly workspace</li>
                    <li class="list-group-item bg-transparent border-0">
                      <button class="btn btn-outline-info col" type="submit">Show all amenities</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 mw-100">
            <div class="row border border-info rounded ml-3 mb-3 mr-3 pt-5">
              <div class="col ">
                <div class="row d-flex justify-content-center">
                  <h4 class="display-5"><del class="font-weight-light">$83</del> $75 /night</h4>
                </div>
                <form id="reserveForm">
                  <div class="form-group  ">
                    <div class="row d-flex justify-content-center">
                      <label for="rf-checkIn"><small>CHECK-IN</small>
                        <input type="date" class="form-control form-control-sm p-1" id="rf-checkIn" required>
                      </label>
                      <label for="rf-checkOut"><small>CHECK-OUT</small>
                        <input type="date" class="form-control form-control-sm p-1" id="rf-checkOut" required>
                      </label>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="row d-flex justify-content-center">
                      <label class="col-md-9" for="rf-guestsNo"><small>GUESTS</small>
                        <select class="form-control form-control-sm" id="rf-guestsNo">
                          <option>0 guests</option>
                          <option>1 guest</option>
                          <option>2 guests</option>
                          <option>3 guests</option>
                          <option>4 guests</option>
                          <option>5+ guests</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="form-group  ">
                    <div class="row d-flex justify-content-center">
                      <a class="btn btn-info col-md-8" href="book-now" role="button">Book Now</a>
                      <!-- <button class="btn btn-info col-md-8" type="submit">Book Now</button> -->
                    </div>
                  </div>
                </form>
                <small class="row d-flex justify-content-center pb-3">You won't be charged yet</small>
                <div class="row d-flex justify-content-center">
                  <table class="table col-md-8">
                    <tbody>
                      <tr>
                        <th scope="row">$83 x 7 nights</th>
                        <td class="text-right">$580</td>
                      </tr>
                      <tr>
                        <th scope="row">10% weekly price discount</th>
                        <td class="text-right">-$58</td>
                      </tr>
                      <tr>
                        <th scope="row">Cleaning fee</th>
                        <td class="text-right">$75</td>
                      </tr>
                      <tr>
                        <th scope="row">Service fee</th>
                        <td class="text-right">$84</td>
                      </tr>
                      <tr>
                        <th scope="row">Total</th>
                        <td class="font-weight-bold text-right">$681</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-1">
        <!-- DUNNO IF NEEDED YET container -->
      </div>
      <!-- /main container -->
    </main>
    <footer class="container ">
      <hr />
      <div class="row p-0 d-flex justify-content-around">
        <div class="row-4">
          <p>
            <strong>English (CA)</strong> <strong>$ CAD</strong>
          </p>
        </div>
        <div class="row-4">
          <p>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
          </p>
        </div>
        <div class="row-4">
          <p> © 2020 David Ly </p>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="https://getbootstrap.com/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>'
        );
    </script>
    <script src="https://getbootstrap.com/docs/4.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"></script>
  </body>

</html>
