{{!-- 
======================================================
Assignment 2 - Responsive, Handlebars, Forms Processing and Email
Course:			WEB 322
Author:			David Ly
Email:			dly11 at myseneca.ca
Date:			  2020-10-28
====================================================== 
--}}
<div class="container-fluid mt-5">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar  ">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link active text-info" href="/dashboard">
                            <span data-feather="monitor"></span> Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {{#if user.isAdmin}}
                        <li class="nav-item">
                            <a class="nav-link text-info" href="/dashboard/uploaded-rooms">
                                <span data-feather="home"></span> My Uploaded Rooms </a>
                        </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link text-info" href="/dashboard/my-bookings">
                            <span data-feather="users"></span> My Bookings </a>
                    </li>
                </ul>
                {{!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Other Options</span>
                </h6> --}}
                <ul class="nav flex-column mb-2">
                    {{!-- 
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">
                            <span data-feather="file-text"></span> Other BnB Option 1 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">
                            <span data-feather="file-text"></span> Other BnB Option 2 </a>
                    </li>
                    --}}
                </ul>
            </div>
        </nav>
        {{#if dashboard_home}}
            {{> dashboard_home }}
        {{/if}}
        {{#if dashboard_rooms}}
            {{> dashboard_rooms }}
        {{/if}}
        {{#if dashboard_bookings}}
            {{> dashboard_bookings }}
        {{/if}}
    </div>
</div>
