{{!-- 
======================================================
Assignment 2 - Responsive, Handlebars, Forms Processing and Email
Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca
Date:			  2020-10-28
====================================================== 
--}}
<main role="main">
    <!-- Main jumbotron -->
    <div class="jumbotron rounded text-light" id="jumbo01">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="display-3">Travel Near or Far</h1>
                    <p> Discover new and unique places to stay for business or leisure. </p>
                    <p>
                        <a class="btn btn-outline-info btn-lg " href="search-listings" role="button">Explore &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- ========== The BOOKING Form ========== -->
        <div class="container p-4">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="display-5">Search for a place to stay:</h1>
                    <form class="form-group" style="max-width: 440px" action="contact-for-process" method="POST"
                        enctype="multipart/form-data">
                        <!-- setting to GET for now - typically should be POST -->
                        <p>
                            <label for="booking-location">Where<br />
                                <input class="form-control" size="50" placeholder="Where are you going?"
                                    id="booking-location" name="booking-location" list="ca-city-list" />
                            </label>
                            <datalist id="ca-city-list">
                                <option label="Barrie" value="Barrie"></option>
                                <option label="Calgary" value="Calgary"></option>
                                <option label="Charlottetown" value="Charlottetown"></option>
                                <option label="Chibougamau" value="Chibougamau"></option>
                                <option label="Chilliwack" value="Chilliwack"></option>
                                <option label="Cold Lake" value="Cold Lake"></option>
                                <option label="Dorval" value="Dorval"></option>
                                <option label="Edmonton" value="Edmonton"></option>
                                <option label="Flin Flon" value="Flin Flon"></option>
                                <option label="Hamilton" value="Hamilton"></option>
                                <option label="Iqualuit" value="Iqualuit"></option>
                                <option label="Ottawa" value="Ottawa"></option>
                                <option label="Miramichi" value="Miramichi"></option>
                                <option label="Montreal" value="Montreal"></option>
                                <option label="Red Deer" value="Red Deer"></option>
                                <option label="St. John" value="St. John"></option>
                                <option label="St. John's" value="St. John's"></option>
                                <option label="Toronto" value="Toronto"></option>
                                <option label="Vancouver" value="Vancouver"></option>
                                <option label="Whitehorse" value="Whitehorse"></option>
                                <option label="Winnipeg" value="Winnipeg"></option>
                                <option label="Yellowknife" value="Yellowknife"></option>
                            </datalist>
                            <!-- Source - Gov't of Canada: https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_18/unmin/docs/ref/datalist/datalist-en.html?wbdisable=false -->
                        </p>
                        <p>
                            <label for="booking-checkIn">Check-In<br />
                                <input class="form-control" required id="booking-checkIn" name="booking-checkIn"
                                    type="date" />
                            </label>
                            <label for="booking-checkOut">Check-Out<br />
                                <input class="form-control" required id="booking-checkOut" name="booking-checkOut"
                                    type="date" />
                            </label>
                        </p>
                        <p>
                            <label for="booking-guestNo">Guests<br />
                                <select class="form-control" id="booking-guestNo" name="booking-guestNo" required>
                                    <option label="How many guests?" value=""></option>
                                    <option label="0 guests" value="0 guests"></option>
                                    <option label="1 guest" value="1 guest"></option>
                                    <option label="2 guests" value="2 guests"></option>
                                    <option label="3 guests" value="3 guests"></option>
                                    <option label="4 guests" value="4 guests"></option>
                                    <option label="5+ guests" value="5 guests"></option>
                                </select>
                            </label>
                        </p>
                        <p>
                            <input class="form-control" id="booking-submit" name="booking-submit" type="submit"
                                value="Search" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== PROMO / AD BANNER SECTION ========== -->
    <div class="container p-3 ">
        <div class="col p-0">
            <a href="search-listings" data-toggle="tooltip" data-placement="top" title="Click me!">
                <img class="img-fluid rounded" src="images/WEB322_BannerAd.png" alt="Responsive image" />
            </a>
        </div>
    </div>
    <!-- ========== PRE-MADE SEARCH FILTERS ========== -->
    <div class="container p-3">
        <div class="row mb-4">
            <!-- ========== 1ST / FIRST CARD ========== -->
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top rounded" style="max-height: 190px;"
                        src="images/iStock-693810146-e1536569134562.png" alt="Card image">
                    <div class="card-body p-2">
                        <h4 class="card-title">Popular BnBs in Toronto</h4>
                        <span class="font-weight-light">Explore "The Six", Canada's cultural hub and most diverse
                            city.</span>
                        <a href="search-listings" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top rounded" style="max-height: 190px;"
                        src="images/jazz-de-montreal_panorama-pda_wide.jpg" alt="Card image">
                    <div class="card-body p-2">
                        <h4 class="card-title">Popular BnBs in Montreal</h4>
                        <span class="font-weight-light">Get ready to live it up in North America's number one host city
                            for international events.</span>
                        <a href="search-listings" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top rounded" style="max-height: 190px;" src="images/hadden-beach-1.jpg"
                        alt="Card image">
                    <div class="card-body p-2">
                        <h4 class="card-title">Popular BnBs in Vancouver</h4>
                        <span class="font-weight-light">Experience the beauty and great outdoors of Canada's west coast
                            city.</span>
                        <a href="search-listings" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 ">
                <div class="row ">
                    <div class="col p-1">
                        <img src="images/im-108772.jpeg" class="mw-100 mr-auto info-pics rounded"
                            alt="Responsive image">
                    </div>
                    <div class="col p-1">
                        <img src="images/Elk-River-Ranch-2_940x640.jpg" class="mw-100 info-pics rounded"
                            alt="Responsive image">
                    </div>
                    <div class="col p-1">
                        <img src="images/West-Coast-Contemporary-2_940x640.jpg" class="mw-100 info-pics rounded"
                            alt="Responsive image">
                    </div>
                    <div class="col p-1">
                        <img src="images/381f65d0-c0ca-11ea-9bcf-9b65f036a32d.jpg" class="mw-100 info-pics rounded"
                            alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="col-md-6 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item rounded p-2" src="https://www.youtube.com/embed/FzbqSPArxcc"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container ">
        <!-- Example row of columns -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <h2>Why rent a BnB?</h2>
                <ul>
                    <li>Unique experiences</li>
                    <li>Knowledgeable local hosts</li>
                    <li>Generally less expensive and more flexibility compared to hotels</li>
                    <li>Possibility to rent an entire home for better privacy</li>
                </ul>
            </div>
            <div class="col-md-5">
                <h2>How to get started?</h2>
                <ul>
                    <li>Search and filter for a desired place to stay</li>
                    <li>Check out the BnB's details page and ratings</li>
                    <li>Book through our site</li>
                    <li>Arrive and enjoy your stay!</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /container -->
</main>
