{{!-- 
======================================================
Assignment 3 4 5
Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca

====================================================== 
--}}
<main role="main">
    <!-- Main jumbotron -->
    <div class="jumbotron rounded text-light" id="jumbo01">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="display-3">Travel Near or Far</h1>
                    <p> Discover new and unique places to stay for business or leisure. </p>
                    <p>
                        <a class="btn btn-outline-info btn-lg " href="/search-listings" role="button">Explore
                            &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- ========== The BOOKING Form ========== -->
        <div class="container p-4">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="display-5">Search for a place to stay:</h1>
                    <!-- ////////// TEST: action="https://httpbin.org/post" // action="/search-listings" -->
                    <form class="form-group" style="max-width: 417px" action="/search-listings" method="POST">
                        <!-- setting to GET for now - typically should be POST -->
                        <div class="form-group">
                            <label class="mr-sm-2 " for="booking-location">Where to?</label>
                            <select class="custom-select mr-sm-2" id="booking-location" name="location"
                                required>
                                <option selected value="">Where would you like to go?</option>
                                <option value="Montreal">Montreal</option>
                                <option value="Toronto">Toronto</option>
                                <option value="Vancouver">Vancouver</option>
                            </select>
                        </div>
                     
                        <div class="form-group d-flex justify-content-center">
                            <button class="btn btn-outline-success " type="submit">Search Listings</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== PROMO / AD BANNER SECTION ========== -->
    <div class="container p-3 ">
        <div class="col p-0">
            <a href="/search-listings" data-toggle="tooltip" data-placement="top" title="Click me!">
                <img class="img-fluid rounded" src="/images/WEB322_BannerAd.png" alt="Responsive image" />
            </a>
        </div>
    </div>
    <!-- ========== PRE-MADE SEARCH FILTERS ========== -->
    <div class="container p-3">
        <div class="row mb-4">
            <!-- ========== 1ST / FIRST CARD ========== -->
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top rounded" style="max-height: 190px;"
                        src="/images/iStock-693810146-e1536569134562.png" alt="Card image">
                    <div class="card-body p-2">
                        <h4 class="card-title">Popular BnBs in Toronto</h4>
                        <span class="font-weight-light">Explore "The Six", Canada's cultural hub and most diverse
                            city.</span>
                        <a href="/search-listings" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top rounded" style="max-height: 190px;"
                        src="/images/jazz-de-montreal_panorama-pda_wide.jpg" alt="Card image">
                    <div class="card-body p-2">
                        <h4 class="card-title">Popular BnBs in Montreal</h4>
                        <span class="font-weight-light">Get ready to live it up in North America's number one host city
                            for international events.</span>
                        <a href="/search-listings" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top rounded" style="max-height: 190px;" src="/images/hadden-beach-1.jpg"
                        alt="Card image">
                    <div class="card-body p-2">
                        <h4 class="card-title">Popular BnBs in Vancouver</h4>
                        <span class="font-weight-light">Experience the beauty and great outdoors of Canada's west coast
                            city.</span>
                        <a href="/search-listings" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 ">
                <div class="row ">
                    <div class="col p-1">
                        <img src="/images/im-108772.jpeg" class="mw-100 mr-auto info-pics rounded"
                            alt="Responsive image">
                    </div>
                    <div class="col p-1">
                        <img src="/images/Elk-River-Ranch-2_940x640.jpg" class="mw-100 info-pics rounded"
                            alt="Responsive image">
                    </div>
                    <div class="col p-1">
                        <img src="/images/West-Coast-Contemporary-2_940x640.jpg" class="mw-100 info-pics rounded"
                            alt="Responsive image">
                    </div>
                    <div class="col p-1">
                        <img src="/images/381f65d0-c0ca-11ea-9bcf-9b65f036a32d.jpg" class="mw-100 info-pics rounded"
                            alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="col-md-6 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item rounded p-2" src="https://www.youtube.com/embed/FzbqSPArxcc"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container ">
        <!-- Example row of columns -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <h2>Why rent a BnB?</h2>
                <ul>
                    <li>Unique experiences</li>
                    <li>Knowledgeable local hosts</li>
                    <li>Generally less expensive and more flexibility compared to hotels</li>
                    <li>Possibility to rent an entire home for better privacy</li>
                </ul>
            </div>
            <div class="col-md-5">
                <h2>How to get started?</h2>
                <ul>
                    <li>Search and filter for a desired place to stay</li>
                    <li>Check out the BnB's details page and ratings</li>
                    <li>Book through our site</li>
                    <li>Arrive and enjoy your stay!</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /container -->
</main>
