/* 
======================================================
Assignment 1 - User Interface (UX)

Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca
Date:			  2020-10-28
======================================================
*/

html body {
	background-color: #e9ecef; /* whitesmoke */
}

/* Move down content due to thick fixed navbar */
body {
	padding-top: 3.5rem;
}

img {
	object-fit: cover;
}

.navbar {
	padding-bottom: 0;
	padding-top: 0;
}

#jumbo01 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../images/The-Treehouse-Durham_940x640.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.info-pics {
	min-width: 148px;
}

.invalid-feedback-myCustom {
	display: block;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 85%;
	color: #dc3545;
}

.valid-feedback-myCustom {
	display: block;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 85%;
	color: #28a745;
}

/* TESTING CODE */

.photo-tile {
	width: 300px;
	height: 300px;
	float: left;
	border: 1px solid grey;
	margin: 12px 24px 12px 0;
	position: relative;
	/* background-color: #f5f5ff; */
}

.remove {
	position: absolute;
	width: 55px;
	height: 42px;
	bottom: 0px;
	right: 0px;
}

.remove img {
	width: 24px;
	height: 24px;
}
